.encabezado{
    display: inline-block;
}
.curso,image {
    display: inline-block;
}
.escuela{
    display: inline-block;
}
.imagen{
    margin-left: 20px;
    width: 200px;
    height: 200px;
    float: left;
}
.curso{
    float: right;
}
.escuela{
    float: right;
}
.titulos{
    width:fit-content;
    margin: 20px auto;
}
.topologia{
    margin:auto 70px ;
    width: 90%;
    border: 5px solid black;
}
.accesoRemoto{
    width:fit-content;
    margin: auto;
}
.video{
    width:fit-content;
    margin: auto; 
}